.form-control{
    width: 100%;
}

.inscription{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    border-radius: 38px;
    background: #5BD6EE;

}

.mt-5{
    margin-top: 9rem !important;
}

#h2Login{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.logoCryptoVault{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}