.form-control{
    width: 100%;
}

.container{
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

#h2SignUp{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.logoCryptoVault{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
